@import '../../variables.scss';

// General
* {
  color: $primary-font-color;
  font-family: $primary-font;
}

.App {
  background-color: #bdbdbdad;
  height: 100vh;
}

button {
  padding: .5vw;
  font-size: 1.3vw;
  background-color: $button-color;
  border: $primary-color;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

// LOGIN
.login {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1%;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -230px;
  label {
    margin-top: 1vw;
    font-size: 1.3vw;
  }
  input {
    height: 30px;
    margin-bottom: 1.3vw;
    color: $primary-color;
    font-size: 1.5vw;
    width: 98%;
  }
  button {
    margin: auto;
    margin-top: 1vw;
    width: 98%;
    font-size: 1.5vw;
  }
}

// NAV
nav {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  padding: 1vw;
  height: 50px;
  margin-top: -40px;
  h1 {
    margin-left: 30%;
    font-size: 4vw;
  }
  button {
    margin-left: 150%;
    width: 10vw;
  }
}

.header-background {
  background-color: grey;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.film-strip {
  height: 200px;
  background-size: contain;
  background-repeat: repeat-x;
}

// movie container
h2 {
  font-size: 1.9vw;
}

.movie-card {
  background-color: black;
  margin: 35px;
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  button {
    margin-bottom: 1vw;
    width: 90%;
  }
}

.movie-img {
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.rating {
  font-weight: bold;
  font-size: 1.3vw;
  margin: 1vw;
}

// SHOW PAGE
.movie-show-page {
  background-color: $primary-color;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: -10vw;
  padding: 1vw;
  button {
    float: right;
  }
  p {
    font-size: 1.3vw;
  }
}

.movie-poster {
  height: 30vw;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.movie-info-container {
  display: flex;
}

// MEDIA

@media only screen and (max-width: 1000px)  {
  .movie-container {
    grid-template-columns: 1fr 1fr;
  }

  .login-button {
    margin-left: 45%;
  }

  .movie-img {
    width: 32vw;
  }
}

@media only screen and (max-width: 660px)  {
  .movie-container {
    grid-template-columns: 1fr;
  }

  .login-button {
    margin-left: 25%;
  }

  .movie-img {
    width: 63vw;
  }
}
