@import '../../variables.scss';
* {
  color: $primary-font-color;
  font-family: $primary-font;
}

// General
.App {
background-color: #bdbdbdad;
    height: 100vh;
  }

// LOGIN
.login {
  height: 30vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 25px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -230px;
  input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $primary-color;
    font-size: 1.5vw;
  }
}


button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: $button-color;
  height: 35px;
  border: $primary-color;
  font-size: 18px;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

// NAV
nav {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  padding: 0;
  height: 50px;
  margin-top: -40px;
  h1 {
    margin-left: 30%;
    font-size: 4vw;
  }
  button {
    margin-left: 100%;
  }
}

.header-background {
  background-color: grey;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.film-strip {
  height: 200px;
  background-size: contain;
  background-repeat: repeat-x;
}

// movie container
.movie-card {
  background-color: black;
  margin: 35px;
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
.movie-img {
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.rating {
  font-weight: bold;
}
// MEDIA


@media only screen and (max-width: 1000px)  {
  .movie-container {
    grid-template-columns: 1fr 1fr;
  }

  .login-button {
    margin-left: 45%;
  }

  .movie-img {
    width: 32vw;
  }
}

@media only screen and (max-width: 660px)  {
  .movie-container {
    grid-template-columns: 1fr;
  }

  .login-button {
    margin-left: 25%;
  }

  .movie-img {
    width: 63vw;
  }
}
