@import '../../variables.scss';
* {
  color: $primary-font-color;
  font-family: $primary-font;
  border: 1px solid blue;
}

// LOGIN
.login {
  height: 30vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 25px;
  width: 40vw;
  margin: auto;
  input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


.login-button {
  font-weight: bold;
  background-color: $button-color;
  height: 35px;
  border: $primary-color;
  font-size: 18px;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

// NAV
nav {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  padding: 0;
  height: 4vw;
  margin: 3vw 0;
  h1 {
    margin-left: 30%;
    font-size: 4vw;
  }
  button {
    margin-left: 100%;
    width: 12vw;
  }
}
